/*!
global > color
------------------------------
*/
:root {
    --color-bg-primary: black;
    --color-bg-road: #A0D8EA;
    --color-bg-sightseeing: #AED6A2;
    --color-bg-food: #E49536;
    --color-font-base: #fff;
}

